*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --green: #1EB53A;
  --blue: #36c7fc;
  /*00A3DD*/
  --yellow: #FCD116;
  --black: #000000;
  --grey: #818080;
  --light-bg: #f9f9f6;
  --white: #ffffff;
  --glass: rgba(255, 255, 255, 0.1);
  --glass-dark: rgba(0, 0, 0, 0.1);
  --glass-dark-border: rgba(0, 0, 0, 0.2);
  --glass-border: rgba(255, 255, 255, 0.2);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--light-bg);
  color: var(--black);
  scroll-behavior: smooth;
}

.header {
  background-color: var(--blue);
  border-bottom: 1px solid var(--white);
  border-radius: 0 0 10px 10px;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.menu-toggle {
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1100;
}

.close-menu {
  align-self: flex-end;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--black);
  margin-bottom: 1rem;
  cursor: pointer;
}

.nav-list {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  background-color: var(--white);
  list-style: none;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}

.nav-list.show {
  right: 0;
}

.nav-list li {
  margin: 1rem 0;
}

.nav-list a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.1rem;
}


.title-section {
  border: 10px solid var(--blue);
  background-image: url('../IMAGES/pexels-safari-consoler-3290243-11834936-customXL.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
  padding: 3rem 1rem;
  border-radius: 10px;
  aspect-ratio: 2/1;
  width: 100%;
}

#bannerTitle {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--blue);
}


#donateButton {
  background: var(--glass, --glass-border);
  border-radius: 10px;
  border: 1px var(--blue) solid;
  -webkit-backdrop-filter: blur(5px) brightness(1.1);
  backdrop-filter: blur(5px) brightness(1.1);
  color: var(--blue);
  margin-bottom: 5px !important;
  font-size: 1.5rem;
  cursor: pointer;
}

#donateButton:hover {
  background: var(--glass-dark);
  border-color: var(--white);
  color: var(--white);
  transition: 0.5s;
}

@media (max-width: 1840px) {
  #bannerTitle {
    font-size: 2rem;
  }
}

/*@media (max-width: 768px) {
  .nav-list {
    width: 300px;
  }

  .nav-list li {
    margin: 0 1rem;
  }

  .menu-toggle {
    display: block;
  }

  .nav {
    display: flex;
  }

  #bannerTitle {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

}*/

/*background: var(--glass);
  border: 1px var(--glass-border) solid;
  border-radius: 10px;
  backdrop-filter: blur(5px) brightness(1.1);
  text-align: center;*/

@media (max-width: 767px) {

  .title-section {
    border: 2px solid var(--blue);
    background-image: url('../IMAGES/pexels-safari-consoler-3290243-11834936.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-align: center;
    color: var(--white);
    padding: 0 0 6rem 0;
    border-radius: 10px;
    aspect-ratio: 2/1;
    width: 100%;
  }

  .title-text {
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 5px;
    background: var(--glass);
    border-radius: 10px;
    border: 1px var(--blue) solid;
    backdrop-filter: blur(5px) brightness(1.1);
    color: var(--blue);
  }

  #bannerTitle {
    text-transform: uppercase;
    font-size: 1.25rem;
    width: fit-content;
    margin: 5px auto;
    padding: 0 5px;
  }

  #donateButton {
    font-size: 1rem;
  }

  #donateButton:active {
    background: var(--glass-dark);
    border-color: var(--white);
    color: var(--white);
    transition: 0.5s;
  }
}

.main-content {
  margin: auto;
}


.info-section {
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.mission {
  background: linear-gradient(135deg, var(--green), var(--yellow));
  color: var(--black);
}

.vision {
  background: linear-gradient(135deg, var(--yellow), var(--blue));
  color: var(--white);
}

.target {
  background: linear-gradient(135deg, var(--blue), var(--green), var(--grey));
  color: var(--white);
}

.footer {
  background: linear-gradient(135deg, var(--grey), var(--black));
  color: var(--yellow);
  text-align: center;
  padding: 2rem 1rem;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin: 0.5rem 0;
}